body {
    background-color: #e8e8e8;
    color: #333;
    direction: ltr;
    font-family: 'Roboto','Droid Sans',arial,sans-serif;
    font-size: 14px;
}
.glyphicon {
    cursor: pointer;
}

#_head {
    background: #ffbb00;
    height: 48px;

}

._my_btn {
    background-color: #ffbb00;

}

#_note_left {
    padding: 14px 0px 12px 0px;
}

#_head_right  {
    text-align: right;
    font-size: 12px;
    font-style: italic;
    line-height: 1.728;
    padding: 0px 0px 12px 0px;

}
#_head_right span {
    display: inline-block;
    padding: 0px 15px 0px 15px;
}
#_input {
    padding: 14px;
}

#_note {
    padding: 14px;
}

._item {
    list-style-type: none;
    background-color: darkgoldenrod;
    margin: 10px 10px 10px 10px;
    float: left;
    width: 100px;
    height: 90px;
    text-align: center;
}

.red {
    background-color: red;
}
#_workplace {
    list-style-type: none;
    margin: 0;
    padding: 0;
}